@font-face {
    font-family: 'Archer';
    src: url('Archer.woff2') format('woff2'),
        url('Archer.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

