*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
.container{
    width:1300px;
    max-width: 100%;
    margin: auto;
    position: relative;
}
nav{
    border:1px solid #707070;
}
nav .container{
    display:flex;
}
nav ul{
    display:flex;
}
#a-home{
    padding:5px 10px;
    margin: 16px;
}
nav ul li{
    padding:5px 10px;
    list-style-type: none;
    font: normal normal 600 12px/18px Poppins;
    letter-spacing: 0.14px;
    color: #707070;
}
.ctn{
    display: flex;
}
.left{
    width: 313px;
    background: #4F4F4F;
    /* position: absolute; */
    height: 100vh;
    padding: 1.875rem;
}
.video-wrap{
    width: 100%;
    padding-top: 60%; /* 1:1 Aspect Ratio */
    position: relative; 
}
.video{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #4F4F4F
}
.video img{
    margin-right: 5px;
}
.v-page ul{
    display: flex;
    list-style-type: none;
    justify-content: right;
    color: white;
}
.v-page ul li{
    margin-left: 5px;
}
.anime-title{
    font: normal normal 600 20px/30px Poppins;
    letter-spacing: 0.24px;
    color: #FFFFFF;
    margin: 0 0 10px 0;
}
.act-button{
    display: flex;
}
.act-button button{
    background: #FFFFFF;
    border-radius: 8px;
    padding: 5px 10px;
    border: none;
    height: 37px;
    display: inline-flex;
    align-items: center;
    color: #4F4F4F;
    margin: 0 8px 0 0;
}
.act-button button.subscribe{
    font-weight: 600;
}
.barrier{
    width: calc(100% + 3.75rem);
    background: white;
    height: 3px;
    margin: 1rem 0 1rem -1.875rem;
}
.rating{
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    padding: 5px 10px;
    color: white;
    font: normal normal 600 12px/18px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    display: block;
    margin-left: auto;
    background: #4F4F4F
}
.info-left{
    font: normal normal medium 12px/18px Poppins;
    letter-spacing: 0.14px;
    color: #FFFFFF;
}
.info-left button{
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    padding: 5px 10px;
    color: white;
    font: normal normal 600 12px/18px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    background: #4F4F4F
}
.sub-menu{
    list-style-type: none;
    display: flex;
    padding: 2.5rem 3.75rem;
    margin: 0;
}
.sub-menu li{
    display: inline-flex;
    margin-right: 2rem;
    font: normal normal 600 12px/18px Poppins;
    letter-spacing: 0.14px;
    color: rgba(79, 79, 79, 0.5);
}
.sub-menu li:first-child{
    color: #4F4F4F;
}
.box-eps{
    position: relative;
    display: flex;
    padding: .5rem 3.75rem;
}
.box-eps-left{
    width: 225px;
}
.box-eps-right{
    width: calc(100% - 225px);
    padding: .5rem 1rem;
}
.tit-eps{
    margin: 0;
    font: normal normal 600 13px/20px Poppins;
    letter-spacing: 0.16px;
    color: #7A7878;
}
.title-eps{
    font: normal normal 600 16px/25px Poppins;
    letter-spacing: 0.19px;
    color: #7A7878;
    margin: .5rem 0 0 0;
}
.desc-eps{
    font: normal normal normal 12px/18px Poppins;
    letter-spacing: 0px;
    color: #000000;
}
.footer{
    border: 1px solid #707070;
}
.footer-left{
    padding: 3.0625rem 0;
    width: 65%;
}
.footer-right{
    width: 35%;
    text-align: right;
    padding: 3.0625rem 0;
}
.footer-left ul{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0;
}
.footer-left ul li{
    margin: 1rem 2.0625rem 0 0;
    font: normal normal 600 12px/18px Poppins;
    letter-spacing: 0.14px;
    color: #707070;
}
.footer-right span{
    width: 38px;
    height: 38px;
    background: #4F4F4F 0% 0% no-repeat padding-box;
    border-radius: 8px;
    display: inline-block;
    margin: 1rem 0 1rem 2rem;
}
.menu-mobile{
    display: none;
}
@media screen and (max-width: 800px){
    nav{
        background: #4F4F4F;
        padding: 1rem;
        border: none;
    }
    .nav-menu{
        display: none;
    }
    .ctn{
        display: block;
    }
    .left, .footer-left{
        width: 100%;
    }
    .left{
        height: auto;
    }
    .box-eps{
        display: block;
    }
    .box-eps-right,.box-eps-left{
        width:100%;
    }
    .footer-left{
        padding: 1.5rem 1rem;
    }
    .footer-right{
        width: 100%;
        text-align: center;
        padding-top: 0;
    }
    .footer-right span{
        margin: 1rem;
    }
    .footer-left ul{
        display: flex;
        justify-content: center;
    }
    .footer-left ul li{
        margin: 1rem;
    }
    .menu-mobile{
        display: block;
    }
    #a-home{
        display: none;
    }
}